<!DOCTYPE html>
<html data-ng-app='myApp'>
  <head>
    <title>Learning AngularJS</title>
  </head>

 <body>
  <div data-ng-controller="SimpleController">
    Name:
    <br>
    <input type='text' data-ng-model="name"> {{ name }}
    <br>

      <ul>
        <li data-ng-repeat="familyMember in family | filter: name | orderBy: 'profession'">{{ familyMember.name | uppercase }} -- {{ familyMember.profession | lowercase }}</li>
      </ul>
    </div>

    <script src='javascript/angular.min.js'></script>

    <script src='javascript/application.js'></script>
  </body>
</html>
